* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Lato, sans-serif;
}
.header {
    display: flex;
    padding: 10px;
    background-color: #000;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.email-location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.email {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 10px;
}
.location {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 10px;
}
.social-links{
    margin-left: 60%;
    align-items: center;
    justify-content: center;
}
.social-links img{
    margin-left: 10px;
}
header {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 0 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 83px;
    height: 83px;
    object-fit: contain;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.menu ul li {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.login-btn {
    width: 170px;
    height: 55px;
    border-radius: 10px;
    background-color: #2D8014;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.login-btn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.hero-container {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    padding: 70px 65px 0;
    box-sizing: border-box;
    background: #ffffff;
    overflow: hidden;
}


.hero-bg {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

.hero-bg2 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-bottom: 30px;
    pointer-events: none;
}



.hero-content {
    width: 52%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}


.welcome-text {
    color: #277e1a;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}


.main-heading {
    margin: 0 0 25px;
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.17;
}


.description {
    max-width: 475px;
    margin: 0 0 35px;
    color: #666666;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.65;
}

.cta-group {
    display: flex;
    gap: 22px;
    margin-bottom: 43px;
}


.btn {
    width: 202px;
    height: 57px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    box-sizing: border-box;
}


.btn-primary {
    background: #277e1a;
    color: white;
    border: 1px solid #277e1a;
}


.btn-secondary {
    background: white;
    color: #277e1a;
    border: 1px solid #277e1a;
}


.metrics-group {
    display: flex;
    gap: 72px;
}


.metric-item h3 {
    margin: 0 0 4px;
    color: #277e1a;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}


.metric-item p {
    margin: 0;

    color: #888888;

    font-size: 14px;
    font-weight: 600;
}

.hero-graphic {
    width: 48%;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.hero-graphic img {
    width: 600px;
    max-width: none;
    height: auto;
    position: absolute;
    top: 55px;
    right: -65px;
}



.section-heading {
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
}



.food-grid {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 15px;
}


.food-card:nth-child(1) {
    grid-column: span 2;
}


.food-card:nth-child(2) {
    grid-column: span 1;
}


.food-card:nth-child(3) {
    grid-column: span 1;
}


.food-card:nth-child(4) {
    grid-column: span 1;
}


.food-card:nth-child(5) {
    grid-column: span 1;
}


.food-card:nth-child(6) {
    grid-column: span 2;
}


.food-card img {
    width: 100%;
    height: 285px;
    display: block;
    object-fit: cover;
}


.food-card h2 {
    margin: 12px 0;
    font-family: Lato, sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: #111;
}


.food-card p {
    margin: 0;
    max-width: 500px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
}



.section-p {
    font-family: poppins;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 5%;
    text-align: center;
    padding: 20px;
}


.feature {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 50px 15px;
}

.feature-card {
    width: 30%;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;

}

.feature-card img {
    width: 264px;
    height: 245px;
}

.feature-card h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: center;
    color: #2D8014;
    letter-spacing: 5%;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
}

.feature-card p {
    padding: 5px auto;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 5%;
}

/* 
.app-download {
    display: flex;
    width: 100%;
    margin: 10px auto;

}

.left{
    width: 40%;
    padding: 50px;
}
.right {
    width: 50%;
}
.left h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 5%;
    color: #2D8014;

}
.left h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 5%;
    color: #000000;
} */

.app-download {
    width: 100%;
    height: 760px;
    display: flex;
    position: relative;
    padding: 50px 0 0 68px;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
}

.left {
    width: 52%;
    position: relative;
    z-index: 5;
    box-sizing: border-box;
}

.left h4 {
    margin: 0 0 15px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2D8014;
}

.left h2 {
    margin: 0 0 28px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
}

.left p {
    width: 600px;
    margin: 0 0 38px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
    line-height: 1.7;
    color: #666;
}

.left h3 {
    margin: 0 0 16px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.download-img {
    width: 245px;
    height: auto;
}

.right {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}

.app-image {
    position: absolute;
    width: 800px;
    top: -30px;
    right: -10px;
}

.numbers {
    display: flex;
    width: 1271px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    gap: 100px;
}

.num-detail {
    width: 240px;
    height: 234px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num-detail img {
    width: 120px;
    height: 120px;
}

.num-detail h2 {
    text-align: center;
    padding: 25px;
    font-weight: 500;
    font-size: 60px;
    line-height: 31px;
    letter-spacing: 5%;
    color: #2D8014;
}

.num-detail p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5%;
    line-height: 31px;
}


.image-carsoul {
    width: 100%;
    max-width: 1271px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-carousel img {
    width: 1232px;
    max-width: 100%;
    height: auto;
    display: block;
}

.dots {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #666;
    border-radius: 50px;
}

.active {
    background-color: #277e1a;
}

.review {
    width: 100%;
    max-width: 1271px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 15px;

}

.review-card {
    width: 628px;
    height: 387px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 5px 10px 6px #0000000D;

}

.top {
    display: flex;
    gap: 20px;
}

.customer-profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 200px;
}

.customer-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 5%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #000000;
    margin-top: 20px;
}

.customer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 5%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #2D8014;
}

.quote-img {
    width: 70;
    height: 70;
    margin-left: 200px;
}

.review-descp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 80px;
    line-height: 31px;
    letter-spacing: 5%;
    vertical-align: middle;
}

.subscribe-box {
    display: flex;
    width: 683px;
    height: 93px;
    margin: 30px auto;

    box-shadow: 10px 10px 40px 20px #0000001F;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.subscribe-box input {
    width: 250px;
    height: 52px;
    border: none;

}

.subscribe-btn {
    width: 203px;
    height: 52px;
    top: 17px;
    left: 450px;
    border-radius: 5px;
    background: #2D8014;
    color: white;
    align-items: center;
    justify-content: center;
}

.subscribe-btn img {
    width: 17px;
    height: 15.5px;
    top: 18px;
    left: 165px;
    border-width: 2px;
    align-items: center;
    justify-content: center;

}

.footer {
    display: flex;
    width: 100%;
    height: 456px;
    background-color: #000000;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.footer .footerdiv {
    width: 300px;
    height: 260px;
    margin: 20px 20px;
}


.logo-social {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer-logo {
    width: 129px;
    height: 108px;
    object-fit: contain;
    margin-bottom: 15px;
}

.footer-desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    padding: 15px;
    line-height: 31px;
    letter-spacing: 3%;
    vertical-align: middle;
    color: white;
    margin-top: -30px;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 10px;

}

.social-icon img {
    width: 18px;
    height: 20px;
    object-fit: contain;
    display: block;
    cursor: pointer;
}


.quicklinks h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 5%;
    text-align: left;
    margin-left: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2D8014;
}

.quicklinks ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px;
    padding-top: 20px;
}

.quicklinks ul li {
    color: white;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 5%;
}

.getin-touch h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 5%;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2D8014;
}

.getin-touch div {
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 300px;
}

.getin-touch div img {
    width: 20px;
    height: 20px;
    display: inline;
}

.getin-touch div p {
    color: white;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: 5%;
    margin-left: 15px;
}

.download h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 5%;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2D8014;
}

.download img {
    width: 131px;
    height: 40px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright-design {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #000000E8;
    color: #B4B4B4;
    gap: 50%;
}

.copyright {
    margin-left: 50px;
}