* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Lato, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 0 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 83px;
    height: 83px;
    object-fit: contain;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.menu ul li {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.login-btn {
    width: 170px;
    height: 55px;
    border-radius: 10px;
    background-color: #2D8014;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.login-btn img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.hero-container {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    padding: 70px 65px 0;
    box-sizing: border-box;
    background: #ffffff;
    overflow: hidden;
}


.hero-bg {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

.hero-bg2 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-bottom: 30px;
    pointer-events: none;
}



.hero-content {
    width: 52%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}


.welcome-text {
    color: #277e1a;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}


.main-heading {
    margin: 0 0 25px;
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.17;
}


.description {
    max-width: 475px;
    margin: 0 0 35px;
    color: #666666;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.65;
}

.cta-group {
    display: flex;
    gap: 22px;
    margin-bottom: 43px;
}


.btn {
    width: 202px;
    height: 57px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    box-sizing: border-box;
}


.btn-primary {
    background: #277e1a;
    color: white;
    border: 1px solid #277e1a;
}


.btn-secondary {
    background: white;
    color: #277e1a;
    border: 1px solid #277e1a;
}


.metrics-group {
    display: flex;
    gap: 72px;
}


.metric-item h3 {
    margin: 0 0 4px;
    color: #277e1a;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}


.metric-item p {
    margin: 0;

    color: #888888;

    font-size: 14px;
    font-weight: 600;
}

.hero-graphic {
    width: 48%;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.hero-graphic img {
    width: 600px;
    max-width: none;
    height: auto;
    position: absolute;
    top: 55px;
    right: -65px;
}



.section-heading{
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
}



.food-grid {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 15px;
}


.food-card:nth-child(1) {
    grid-column: span 2;
}


.food-card:nth-child(2) {
    grid-column: span 1;
}


.food-card:nth-child(3) {
    grid-column: span 1;
}


.food-card:nth-child(4) {
    grid-column: span 1;
}


.food-card:nth-child(5) {
    grid-column: span 1;
}


.food-card:nth-child(6) {
    grid-column: span 2;
}


.food-card img {
    width: 100%;
    height: 285px;
    display: block;
    object-fit: cover;
}


.food-card h2 {
    margin: 12px 0;
    font-family: Lato, sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: #111;
}


.food-card p {
    margin: 0;
    max-width: 500px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
}



.section-p {
    font-family: poppins;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 5%;
    text-align: center;
    padding: 20px;
}


.feature {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 50px 15px;
}
.feature-card{
    width: 30%;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
.feature-card img{
    width: 264px;
    height: 245px;
}
.feature-card h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: center;
    color: #2D8014;
    letter-spacing: 5%;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
}
.feature-card p{
    padding: 5px auto;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 5%;
}